/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .card-div {
  margin: 0 auto; /* Centre horizontalement */
  max-width: 50%; /* Largeur maximale de 50% de la largeur de l'écran */
  padding: 20px; /* Espacement intérieur pour la démo */
}

 .center-div {
  margin: 0 auto; /* Centre horizontalement */
  max-width: 50%; /* Largeur maximale de 50% de la largeur de l'écran */
  padding: 20px; /* Espacement intérieur pour la démo */
}

.lettrecontainer {
  display: flex;
  gap: 4px; /* Espacement entre les carrés */
}

.lettre {
  width: 40px;
  height: 40px;
  background-color: #63afc9; /* Bleu clair */
  border: 1px solid #020279; /* Bordure bleu foncé */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 30px; /* Ajusté pour le texte à l'intérieur du petit carré */
}
